.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo{
  width: 100px;
  margin: 0 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 30px;
  object-fit: contain;
}
.header__search{
  display: flex;
  flex: 1;
}
.header__searchInput{
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header__searchIcon{
  padding: 5px;
  height: 22px !important;
  background-color: #ff6600;
}
.header__link{
  color: white;
  text-decoration: none;
}
.header__cart{
  display: flex;
  flex: 1;
  margin-left: 30px;
  margin-right: 15px;
}
.header__cartIcon{
  width: 40px;
}
.header__productCount{
  font-size: 13px;
  font-weight: 800;
  padding-top: 15px;
}
