.home{
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.home__product{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin-left: 5%;
  margin-right: 4%;
}

.container{
  display: flex;
  flex-direction: column;
}

.container_buttons{
  display: flex;
  justify-content: center;
}

.container_buttons > button {
  width: 100px;
  background-color: #00878a;
  border: 1px solid;
  border-color: #00878a #046769 #046769;
  color: white;
  font-family:cursive;
  font-weight: 800;
  margin: 5px;
}
