.productcart{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.productcart__image{
  object-fit: contain;
  width: 150px;
  height: 100px;
  border: 1px solid #ccc;
  padding-top: 5px;
  padding-bottom: 5px;
}

.productcart__name{
  font-size: 16px;
  font-weight: 600;
}

.productcart__info{
  padding-left: 20px;
}

.productcart__info > button{
  height: 30px;
  background-color: #00878a;
  margin-top: 10px;
  border: 1px solid;
  border-color: #00878a #046769 #046769;
  color: white;
  font-family:cursive;
  font-weight: 800;
}
