.container{
  display: flex;
  flex-direction: column;
}
.classification{
  display: flex;
  justify-content: center;
}

.classification > button{
  width: 100px;
  background-color: #00878a;
  border: 1px solid;
  border-color: #00878a #046769 #046769;
  color: white;
  font-family:cursive;
  font-weight: 800;
  margin: 5px;
}

.product__container{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.product{
  display: flex;
  flex-direction: column;
  max-height: 300px;
  min-width: 100px;
  margin: 10px;
  background-color: #fff;
  z-index: 1;
  width: 100%;
  padding: 20px;
  justify-content: flex-end;
}

.product__score{
  display: flex;
}

.product__info{
  height: 60px;
  margin-bottom: 15px;
}

.product__price{
  margin-top: 5px;
}

.product > img{
  width: 100%;
  max-height: 180px;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button{
  height: 30px;
  background-color: #00878a;
  border: 1px solid;
  border-color: #00878a #046769 #046769;
  color: white;
  font-family:cursive;
  font-weight: 800;
}
